html,
body {
    font-family: 'Bad Script', 'Marck Script', 'Tangerine', cursive, sans-serif;
    font-size: 18px;
}

body {
    background-image: url("../images/fresh-snow.png");
}

.redText {
    color: crimson;
}

.largerFont {
    font-size: 64px;
}

.mediumFont {
    font-size: 40px;
}

#game {
    height: 100%;
}

#letters-guessed {
    height: 65px;
}

#current-word {
    height: 128px;
}